/* .style-top{
    background-image: url('https://template.hasthemes.com/chasmish/chasmish/img/bg/bg-image-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
} */